.welcome-head {
  background: #20c5ba;
  isolation: isolate;
  


 &_container{
  display: flex;
  align-items: center;
  text-align: center;
  height:90vh  ;

  justify-content: center;
  flex-direction: column;
  color: #efefef;

  h1 {
    font-size: 50px;
    text-shadow: rgb(28 175 165) 2px -3px 0px;
  }
  h5 {
    margin-top: 20px;
  }
 }



  .fa {
    color: #00a09c;
    z-index: -1;
    position: absolute;
    font-size: 60px;
  }
  // img{

  // }
}
