.welcome-head {
  height: calc(100vh - 55px);
  /* background: linear-gradient(0deg, #ffe45ee8, #ffe45e00) ;*/

  background-size: cover;
 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-position:0  2732px;
  background-repeat: repeat-y;
  animation:bg 60s linear infinite  ;

  h1 {
    font-size: 50px;
    text-shadow: rgb(28 175 165) 2px -3px 0px;
  }
  h5 {
    margin-top: 20px;
  }
}
@keyframes bg {
  100%{
    background-position: 0 0;
}
}
.icon-list {
  margin-top: 150px;
}
.icon-list i {
  background:  hsl(189, 71%, 45%);
  margin: 0px 20px;
  padding: 0px 10px;
  font-size: 20px;
}
