.eng-blogs
{
  


.articalss
{
  padding: 50px 10%;
  flex: 3;
  background-color: #053f3c;
  justify-content: flex-start;

 
  background-color: #eef2f7;

}
.dropdown-item
{
  display: flex;
}
.stats
{
  font-size: xx-small;
  color:#606468
}
}