.st0 {
  fill: #ffffff;
  fill-opacity: 0;
}
.st1 {
  fill: #d0d9e8;
  stroke: #ffffff;
  stroke-width: 0.6122;
  stroke-linejoin: round;
  stroke-miterlimit: 1.2956;
}
.st2 {
  enable-background: new;
}
.st3 {
  fill: #0b3a42;
}
.st4 {
  opacity: 0.8;
  fill: #ff0067;
  stroke: #ffffff;
  stroke-width: 0.8162;
  stroke-miterlimit: 1.2956;
  enable-background: new;
}
.w100{
  width: 100%;
}