.dropdown-toggle {
  user-select: none;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.dropdown-toggle > i {
  margin-right: 5px;
  transition: 0.6s ease-in-out;
}
.dropdown-main {
  display: flex;
  transform-origin: top;

  justify-content: space-between;
  background: #eef2f7;
  color: #253343;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 58px;
  left: 0px;
 
}
.dropdown-menu {
  padding: 50px  ;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;   
}
.articals {
  padding: 50px 10%;
  flex: 3;
 
  justify-content: flex-start;

  background-color: #eef2f7;
}
.dropdown-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.stats {
  font-size: xx-small;
  color: #606468;
}
.dropdown-overlay {
  top: 67px;
  height: 100vh;

  right: 0px;
  width: 100%;
  position: fixed;
  background: #118282a8;
}
.dropdown-menu > li {
  border-radius: 5px;
  height: fit-content;
}
.dropdown-menu > li:hover {
  color: rgba(12, 70, 70, 0.566);
}
.chosen {
  color: #053f3c;
}
i.chosen {
  transform: rotate(180deg);
}
.icon {
  color: rgb(0, 163, 163);
  font-size: xx-large;
  margin: 5px;
}
.image-icon {
  width: 40px !important;
}
.blogs {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px -12px rgba(0, 0, 0, 0.08);

  margin-top: 16px;
  padding-bottom: 8px;
  padding-inline-end: 16px;
  padding-top: 8px;
  padding-inline-start: 8px;
  transform: translate(0);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.readmor {
  color: #697d9a;
  font-size: 12px;
  font-weight: 400;
}
.art-tit {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin: 5px;
}
.art-ele {
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(0, 75, 75);
}
.blogs:hover {
  box-shadow: 1px 16px 10px -12px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}

@media screen and (max-width: 930px) {
  .chosen {
    padding: 15px 0px;
    background: #e1efef;
  }
  .nav-item {
    width: 100%;
  }
  .nav-link > .fa {
    margin-right: 15px;
  }
  .articals {
    display: none;
  }
  .dropdown-main {
    position: initial;
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
    background: #eef2f7;
  }
  .d-li {
    width: 100%;
    text-align: center;
  }
  .dropdown-overlay {
    display: none;
  }
}
