$o:#444;
@mixin themable($theme-name, $bg, $color) {

  .#{$theme-name} {
 

    .welcome-head {
      // background-image: url("../../assets/Engineering/It/bg.png");
      // background: hsl(204, 100%, 20%);
      // background: #20c5ba;
      // color: white;
      // background :  url("../../assets/Engineering/It/rer.svg")  ,#20c5ba; 
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position:bottom;
     
      
    }
    .about-collage {
      background: #0b3a42;
    }
  }
}
@include themable(civil, #5e61ff, #333333);
@include themable(ite, hsl(204, 100%, 50%), #222233);
@import "./DynSection/Welcome/WelcomeSection.scss";

.plapla{
  background-color: red;
  h1{
    
    background-color: lightblue;
  }
  img{
    vertical-align:bottom;
  }
}