.man-present{
    background: #ffe45e ;
}
.row{
    gap:1rem;
     
}
.col {
    padding: 20px 10px;
}
 
.col >video{
    width: 100%;
}


@media (max-width:992px) {
   .row{
       flex-wrap: wrap;
        
   }
}
