.man-present {
  background: #eef2f7;
  // background: #3bc5de;
 
  .pres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
  }
  .pres-counntiners {
    position: relative;
    padding: 50px 25px;

    .pres-text {
     
      // font-weight: bold;
      margin: 100px 0px;
      .btn-watch{
        display: flex;
        align-items: center;
        border: none;
        background: hsl(189, 71%, 25%);
        padding: 10px 15px;
        font-family: inherit;
        border-radius: 5px;
        color: #fff;
        i{
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

.pres-ved {
  padding: 0px 50px;
}

 

@media (max-width: 992px) {
}
