@mixin bgimg($url) {
  background: url("@@/image/icons/" + $url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
 

.collage {
  &_card_link {
    // background: #f2f6f6;

    border-radius: 10px;
   
    transform: translateY(0px);
   
  
    transition: all 0.3s ease;

    &:hover {
  
      transform: translateY(-5px);
    }
    ;
    @for $i from 1 through 7 {
  
      &:nth-child(#{$i}) {
        .collage_card_icon {
          @include bgimg("as"+$i+".svg");
        }
      }
    }
  }

  &_card_title {
    text-align: center;
    
    color: hsl(176, 60%, 50%);
    
    h1 {
      background: #f2f6f6;
    text-shadow: rgb(28, 175, 165) 1px -1px 0px;

      margin:0 auto;
      width: fit-content;
      font-size: 15px;
    }
  }

  &_card_icon {

    width: 100%;
    padding: 50px;
    
    margin-bottom: 30px;
  }
}
