.about-collage {
  padding: 100px 10%;

  .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    .title-about {
      color: #3bc5de;

      margin-bottom: 40px;
    }
    .parag {
      color: #0b3a42;
    

      font-size: 14px;
      &::selection{
        
        background: #3bc5de;
      }
    }
  }
  .gallery {
    display: flex;
    align-items: center;
    img {
      outline: 10px solid #efefef;
      box-shadow: 0px 2px 4px #000111;
    }
  }

  .read-more {
    display: flex;
    // background: #ffbb01;
    background: hsl(189, 71%, 60%);

    border-radius: 8px;
    color: #efefef;

    font-size: 13px;
    gap: 1rem;
    margin-top: 40px;
    padding: 6px 11px;
    width: fit-content;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width: 514px) {
    padding: 60px 5%;
  }
}
