
 
.about-collage .title {
  /* color: #ffe45e; */
  color: #f8d523;
  margin: 50px 0px;
}
.about-collage .parag {
  color: #efefef;
  font-weight:lighter;
}
.about-collage .gallery{
    margin: 50px 0px;
    
 

}

 
