.about-collage {
  background: #0b3a42;

  padding: 0px 50px 30px;

  .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    .title-about {
      color: #f8d523;

      margin-bottom: 20px;
    }
    .parag {
      color: #efefef;
      font-weight: lighter;
      font-size: 14px;
    }
  }
  .gallery {
    outline: 10px solid #efefef;
    background: #efefef;

    display: flex;
    align-items: center;
    .mySwiper {
      padding-bottom: 20px;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .swiper-slide {
      @media screen and (min-width: 768px) {
        margin-top: 20px;
      }
    }
  }

  .read-more {
    display: flex;
    background: #ffbb01;
    border-radius: 8px;
    color: #000;

    font-size: 13px;
    gap: 1rem;
    margin-top: 40px;
    padding: 6px 11px;
    width: fit-content;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width: 514px) {
    padding: 0px 26px 30px;
  }
}
