@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  direction: rtl;
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color:inherit
}
img {
  width: 100%;
}
.App{
  background:  hsl(0, 0%, 100%);
   height: 100vh;
}
.flex{
    display:flex;
}
.flex-items-center{
    align-items: center;
}
.w-100{
    width:100%;
}
