@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #0caba0;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  vertical-align: middle;
}
.App {
  background: hsl(0, 0%, 100%);
  height: 100vh;
}
.flex {
  display: flex;
}
.flex-items-center {
  align-items: center;
}
.w-100 {
  width: 100%;
}
